.fira-sans-thin {
  font-family: "Fira Sans", serif;
  font-weight: 100;
  font-style: normal;
}

.fira-sans-extralight {
  font-family: "Fira Sans", serif;
  font-weight: 200;
  font-style: normal;
}

.fira-sans-light {
  font-family: "Fira Sans", serif;
  font-weight: 300;
  font-style: normal;
}

.fira-sans-regular {
  font-family: "Fira Sans", serif;
  font-weight: 400;
  font-style: normal;
}

.fira-sans-medium {
  font-family: "Fira Sans", serif;
  font-weight: 500;
  font-style: normal;
}

.fira-sans-semibold {
  font-family: "Fira Sans", serif;
  font-weight: 600;
  font-style: normal;
}

.fira-sans-bold {
  font-family: "Fira Sans", serif;
  font-weight: 700;
  font-style: normal;
}

.fira-sans-extrabold {
  font-family: "Fira Sans", serif;
  font-weight: 800;
  font-style: normal;
}

.fira-sans-black {
  font-family: "Fira Sans", serif;
  font-weight: 900;
  font-style: normal;
}

.fira-sans-thin-italic {
  font-family: "Fira Sans", serif;
  font-weight: 100;
  font-style: italic;
}

.fira-sans-extralight-italic {
  font-family: "Fira Sans", serif;
  font-weight: 200;
  font-style: italic;
}

.fira-sans-light-italic {
  font-family: "Fira Sans", serif;
  font-weight: 300;
  font-style: italic;
}

.fira-sans-regular-italic {
  font-family: "Fira Sans", serif;
  font-weight: 400;
  font-style: italic;
}

.fira-sans-medium-italic {
  font-family: "Fira Sans", serif;
  font-weight: 500;
  font-style: italic;
}

.fira-sans-semibold-italic {
  font-family: "Fira Sans", serif;
  font-weight: 600;
  font-style: italic;
}

.fira-sans-bold-italic {
  font-family: "Fira Sans", serif;
  font-weight: 700;
  font-style: italic;
}

.fira-sans-extrabold-italic {
  font-family: "Fira Sans", serif;
  font-weight: 800;
  font-style: italic;
}

.fira-sans-black-italic {
  font-family: "Fira Sans", serif;
  font-weight: 900;
  font-style: italic;
}

*body {
  background-color: #f1f1f3;
}

nav ul {
  display: flex;
}

.btn-primary {
  background-color: #fff;
  font-family: "Fira Sans", serif;
  font-weight: 600;
  font-size: 18px;
  font-style: normal;
  padding: 15px 30px;
  color: #006a50;
  border-radius: 8px;
  border-color: #006a50;
}

.btnstyle {
  background-color: #006a50;
  font-family: "Fira Sans", serif;
  font-weight: 600;
  font-size: 18px;
  padding: 17px 34px;
  border-radius: 8px;
  color: #ffffff;
  border: 0px solid black;
}

.banner-title {
  font-family: "Fira Sans", serif;
  font-size: 56px;
  font-weight: bold;
  color: #0e0e0e;
}

.section-two {
  margin: 80px 160px;
  margin-bottom: 80px;
}

.section-title {
  display: flex;
  font-size: 40px;
  font-weight: bold;
  color: #0e0e0e;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px 160px;
  margin-bottom: 30px;
}

.bannar {
  display: flex;
  background-color: #c6e4d6;
  align-items: center;
  justify-content: space-between;
  padding: 80px 100px;
  border-radius: 24px;
  margin: 0px 160px;
}
.content-text {
  font-family: "Fira Sans", serif;
  font-weight: 500;
  font-size: 24px;
  padding: 0px;
  color: rgba(14, 14, 14, 0.5);
}
.nav-title {
  font-weight: 700;
  font-size: 32px;
}
main section {
  margin-bottom: 40px;
}
nav ul li {
  list-style: none;
}

.skills-container {
  display: flex;
  gap: 24px;
}

.skill {
  margin-top: 32px;
  padding: 24px;
  border-radius: 16px;
  justify-content: space-between;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
}
.title-text {
  font-family: "Fira Sans", serif;
  font-weight: bold;
  font-size: 20px;
}

.description {
  font-family: "Fira Sans", serif;
  font-weight: 400;
  font-size: 16px;
  color: #0e0e0e;
}

.vission-container {
  display: flex;
  gap: 24px;
}

.vission {
  background-color: rgba(84, 144, 245, 0.2);
  justify-content: space-between;
  opacity: 75%;
  margin-top: 32px;
  padding: 24px;
  border-radius: 16px;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.25);
}

.vission-2 {
  background-color: rgba(198, 228, 214, 1);
  justify-content: space-between;
  margin-top: 32px;
  padding: 24px;
  border-radius: 16px;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.25);
}

.vission-3 {
  background-color: rgba(247, 235, 207, 1);
  justify-content: space-between;
  margin-top: 32px;
  padding: 24px;
  border-radius: 16px;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.25);
}
.vission-title {
  font-family: "Fira Sans", serif;
  font-weight: bold;
  font-size: 20px;
}
.vission-description {
  font-family: "Fira Sans", serif;
  font-weight: 400;
  font-size: 16px;
  color: #0e0e0e;
}

.style-button {
  background-color: #5490f5;
  color: #ffffff;
  border-radius: 8px;
  padding: 11px 20px;
  border: 0px solid black;
}

.style-button1 {
  background-color: #09a15c;
  color: #ffffff;
  border-radius: 8px;
  padding: 11px 20px;
  border: 0px solid black;
}

.style-button2 {
  background-color: #ffc239;
  color: #ffffff;
  border-radius: 8px;
  padding: 11px 20px;
  border: 0px solid black;
}

.recent-news {
  background-color: rgba(255, 255, 255, 1);
  display: flex;
  padding: 48px;
  margin-bottom: 24px;
  gap: 32px;
  border-radius: 24px;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
}

.section-title2 {
  display: flex;
  font-size: 32px;
  margin-bottom: 12px;
  font-weight: bold;
  color: rgba(14, 14, 14, 0.8);
}
.description2 {
  width: auto;
  height: auto;
}

.img-description {
  border-radius: 24px;
}

.recent-news2 {
  display: flex;
  padding: 48px;
  gap: 32px;
}
.new-btn {
  background-color: #006a50;
  font-family: "Fira Sans", serif;
  padding: 13px 26px;
  border-radius: 8px;
  color: #ffffff;
  font-weight: 600;
  border: 0px solid black;
}
